/* Definisi warna yang digunakan */
:root {
  /* Variabel warna */
  --warna1: #ffffff; /* Putih */
  --warna2: #fed7dd; /* Pink */
  --warna3: #e17f93; /* Pink tua */
  --warna4: #daa520; /* Emas */
}
/* Style untuk form pencarian */
.form-pencarian {
  margin-top: 30px; /* Margin atas */
  margin-bottom: 10px; /* Margin bawah */
  text-align: center; /* Teks yang berada di dalam form ditengahkan */
  max-width: 1500px; /* Atur lebar maksimum agar form tidak terlalu lebar */
  width: 100%; /* Lebar form pencarian */
  border: 15px double var(--warna4); /* Border tebal dengan warna emas */
  background-color: var(--warna1); /* Warna latar belakang putih */
  border-radius: 5rem; /* Membuat sudut melengkung */
}

.input-pencarian {
  width: 89.5%; /* Lebar input 89.5% dari Kotak-luar */
  text-align: start; /* Teks dalam input mulai dari kiri */
  padding: 15px; /* Padding dalam input untuk kenyamanan teks */
  box-sizing: border-box; /* Pastikan padding dan border dihitung dalam lebar dan tinggi elemen */
  font-size: 30px; /* Ukuran font */
  border-radius: 5rem 0 0 5rem; /* Membuat sudut melengkung hanya di sisi kiri */
}

.tombol-pencarian {
  background-color: var(--warna4); /* Warna latar belakang */
  color: #fff; /* Warna teks putih */
  padding: 15px; /* Padding dalam tombol */
  cursor: pointer; /* Mengubah kursor menjadi pointer saat dihover */
  transition: background-color 0.3s ease; /* Transisi warna latar belakang saat dihover */
  width: 10%; /* Lebar tombol 10% dari Kotak-luar */
  font-size: 30px; /* Ukuran font */
  border-radius: 0 5rem 5rem 0; /* Membuat sudut melengkung hanya di sisi kanan */
}

.tombol-pencarian:hover {
  background-color: var(
    --warna3
  ); /* Warna latar belakang saat tombol dihover */
  color: #ffffff; /* Warna teks menjadi putih saat dihover */
  border: 1px solid #ddd; /* Menambahkan border tipis dengan warna #ddd */
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff; /* Menambahkan bayangan pada teks dengan warna putih */
  box-shadow: 0 0 5px var(--warna3), 0 0 20px var(--warna3),
    0 0 50px var(--warna3), 0 0 100px var(--warna3); /* Menambahkan bayangan pada tombol dengan warna yang diambil dari variabel CSS */
}

/* Responsivitas */
/* Laptop */

@media (max-width: 1366px) {
  .input-pencarian {
    width: 89.5%;
    font-size: 30px;
  }

  .tombol-pencarian {
    width: 10%;
    font-size: 30px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  input-pencarian {
    width: 69.5%;
    font-size: 30px;
  }

  .tombol-pencarian {
    width: 10%;
    font-size: 30px;
  }
}

/* Mobile phone */

@media (max-width: 450px) {
  input-pencarian {
    width: 49.5%;
    font-size: 30px;
  }

  .tombol-pencarian {
    width: 10%;
    font-size: 30px;
  }
}
