/* Style untuk form pencarian */
.form-pencarian {
  margin-top: 50px; /* Margin atas */
  margin-bottom: 10px; /* Margin bawah */
  text-align: center; /* Teks yang berada di dalam form ditengahkan */
  max-width: 1600px; /* Atur lebar maksimum agar form tidak terlalu lebar */
  width: 100%; /* Lebar form pencarian */
}

.input-pencarian {
  border: 10px double var(--warna4); /* Border tebal dengan warna emas */
  border-radius: 0.5rem; /* Membuat sudut melengkung */
  width: 100%; /* Lebar input 100% dari container */
  max-width: 1300px; /* Lebar maksimum input 1500px */
  height: 80px; /* Tinggi input */
  font-size: 40px; /* Ukuran font */
  text-align: start; /* Teks dalam input mulai dari kiri */
  padding: 15px; /* Padding dalam input untuk kenyamanan teks */
  box-sizing: border-box; /* Pastikan padding dan border dihitung dalam lebar dan tinggi elemen */
}

.tombol-pencarian {
  border: 10px double var(--warna4); /* Border tebal dengan warna emas */
  background-color: var(--warna4); /* Warna latar belakang */
  color: #fff; /* Warna teks putih */
  border-radius: 0.5rem; /* Membuat sudut melengkung */
  padding: 15px; /* Padding dalam tombol */
  cursor: pointer; /* Mengubah kursor menjadi pointer saat dihover */
  transition: background-color 0.3s ease; /* Transisi warna latar belakang saat dihover */
  font-size: 35px; /* Ukuran font */
  width: 100%; /* Lebar tombol 100% dari container */
  max-width: 200px; /* Lebar maksimum tombol 250px */
  height: 80px; /* Tinggi tombol */
}

.tombol-pencarian:hover {
  background-color: var(
    --warna3
  ); /* Warna latar belakang tombol saat dihover */
}

/* Responsivitas */
/* Laptop */
@media (max-width: 1366px) {
  .input-pencarian {
    font-size: 40px; /* Mengurangi ukuran font pada layar tablet */
    height: 80px; /* Mengurangi tinggi input pada layar tablet */
    width: 70%;
  }
  .tombol-pencarian {
    font-size: 25px; /* Mengurangi ukuran font pada layar tablet */
    height: 80px; /* Mengurangi tinggi tombol pada layar tablet */
    width: 25%;
  }
  .form-pencarian {
    width: 80%; /* Lebar form pencarian */
  }
}

/* Tablet */
@media (max-width: 768px) {
  .input-pencarian {
    font-size: 30px; /* Mengurangi ukuran font pada layar tablet */
    height: 60px; /* Mengurangi tinggi input pada layar tablet */
    width: 70%;
  }
  .tombol-pencarian {
    font-size: 15px; /* Mengurangi ukuran font pada layar tablet */
    height: 60px; /* Mengurangi tinggi tombol pada layar tablet */
    width: 25%;
  }
  .form-pencarian {
    width: 60%; /* Lebar form pencarian */
  }
}

/* Mobile phone */

@media (max-width: 450px) {
  .input-pencarian {
    font-size: 20px; /* Mengurangi ukuran font pada layar ponsel */
    height: 50px; /* Mengurangi tinggi input pada layar ponsel */
    width: 70%;
  }
  .tombol-pencarian {
    font-size: 10px; /* Mengurangi ukuran font pada layar ponsel */
    height: 50px; /* Mengurangi tinggi tombol pada layar ponsel */
    width: 25%;
  }
  .form-pencarian {
    width: 40%; /* Lebar form pencarian */
  }
}
